<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3 id="footer-section-1">Shop & Learn</h3>
                <ul id="footer-section-1">
                    <li><a href="/menu?type=iphones">iPhone</a></li>
                    <li><a href="/menu?type=macbooks">MacBook</a></li>
                    <li><a href="/menu?type=ipads">iPad</a></li>
                </ul>
            </div>
            <div class="footer-section account">
                <h3 id="footer-section-2">My Account</h3>
                {% if username %}
                <ul id="footer-section-2">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/checkout">Cart</a></li>
                </ul>
                {% else %}
                <ul id="footer-section-2">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </footer>
</body>

</html>