<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h3>Shop & Learn</h3>
                <ul>
                    <li>Mac</li>
                    <li>iPhones</li>
                    <li>iPad</li>
                </ul>
            </div>
            <div class="footer-section account">
                <h3>My Account</h3>
                <ul>
                    <li>Login</li>
                    <li>Sign In</li>
                </ul>
            </div>
            <div class="footer-section support">
                <h3>Support & Feedback</h3>
                <ul>
                    <li>Contact Us</li>
                    <li>Provide Feedback</li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>