<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/login.css">
    <title>Login</title>
</head>

<body>
    <div class="main">
        {% if error %}
        <div class="error">
            <span>{{error}}</span>
        </div>
        {% endif %}
        <div class="login">
            <form method="POST">
                {% csrf_token %}
                <label>Login</label>
                <input type="text" name="name" placeholder="Username" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button>Login</button>
            </form>
            <div class="euser">
                <span>New User?</span>
                <a href="/signup">Sign Up</a>
            </div>
        </div>


    </div>
</body>

</html>