<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Apple Online Store</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="banner">
        <div class="black-space"></div>
        <div class="text-overlay">
            <h3>iPhone 15 Pro</h3>
            <h1>Titanium</h1>
            <p>From ₹21483.00/mo.‡ or ₹134900.00*</p>
            <img src="/static/devices/iphonebanner.jpg" alt="Banner Image">

        </div>
    </div>

    <h1><span>The latest.</span> Take a look what's new right now</h1>

    <div class="main-card">

        <div class="product-card1">
            <img class="iphone-images" src="/static/devices/iphone15pro.jpeg" alt="Product 1">
            <div class="product-details-1">
                <p class="model-name">IPHONE 15 PRO</p>
                <p class="addictions"><span>Titanium</span></p>
                <p class="price">From &#8377 134900.00</p>
            </div>
        </div>
        <div class="product-card2">
            <img src="/static/devices/iphone15.jpeg" alt="Product 1">
            <div class="product-details-2">
                <p class="model-name2">IPHONE 15 </p>
                <p class="addictions2"><span>Newphoria</span></p>
                <p class="price2">From &#8377 79900.00</p>
            </div>
        </div>
        <div class="product-card1">
            <img src="/static/devices/iphone15pro.jpeg" alt="Product 1">
            <div class="product-details-1">
                <p class="model-name">IPHONE 15 PRO</p>
                <p class="addictions"><span>Titanium</span></p>
                <p class="price">From &#8377 134900.00</p>
            </div>
        </div>

    </div>


    {% include 'footer.html' %}
</body>

</html>