<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu.css">
    <title>Apple Online Store</title>
</head>

<body>
    {% include 'navbar.html' %}
    
    <h1><span>Latest.</span> Take a look what's new right now</h1>
    <div class="main-card">
        <!-- Products -->
        {% for i in data %}
        <div class="product-card">
            <img src="/{{ i.image }}" alt="Product Image">
            <div class="product-details">
                <p class="model-name">{{ i.name }}</p>
                <!-- <p class="addictions"><span>Titanium</span></p> -->
                <p class="price">For &#8377 {{ i.price }}.00</p>
            </div>
            <div class="add-to-bag">
                <a href="/product?type={{ type }}&id={{ i.id }}">Add to Bag</a>
            </div>
        </div>
        {% endfor %}
        <!-- {% for i in data %}
            <div class="product-card">
                <img src="/{{ i.image }}" alt="Product Image">
                <div class="product-details">
                    <p class="model-name">{{ i.name }}</p>
                    <p class="price">&#8377 {{ i.price }}</p>
                </div>
                <div class="add-to-bag">
                    <a href="/product?type={{ type }}?id={{ i.id }}">Add to Bag</a>
                </div>
            </div>
        {% endfor %} -->
    </div>
    {% include 'footer.html' %}
    <script>
        // Check if product-details is vis
    </script>
</body>

</html>