<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar with Logo</title>
    <link rel="stylesheet" href="/static/navbar.css" />
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/static/devices/apple.svg" alt="Logo" />
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/menu?type=macbooks">Mac</a></li>
        <li><a href="/menu?type=iphones">iPhones</a></li>
        <li><a href="/menu?type=ipads">iPad</a></li>
        {% if username == 'admin' %}
        <li class="dropdown">
          <a href="#">Admin Menu</a>
          <div class="dropdown-content">
            <a href="/manage?type=Add">Add Item</a>
            <a href="/manage?type=Remove">Remove Item</a>
          </div>
        </li>
        {% endif %} {% if username %}
        <l1><a href="/checkout">Checkout ({% if cart_total %}{{ cart_total }}{% else %}0{% endif %})</a></l1>
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </body>
</html>
